.Weather {
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  background: linear-gradient(0deg, rgba(74,216,242,1) 50%, rgba(165,135,226,1) 100%);
}

.Weather h1 {
  color:#755AD6;
  font-size: 30px;
  font-weight: 500;
  margin: 30px 0 10px 0;
  line-height: 29px;
}

.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  display:inline-block;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #755AD6;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: #755AD6;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  color: #755AD6;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 5px;
}