.weather {
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(74,216,242,1) 50%, rgba(165,135,226,1) 100%);
}

.btn.btn-primary {
  background-color: #4E61F2;
  border: none;
  border-color: #4E61F2;
  border-radius: 10px;
}

.btn:hover {
  background-color: #DCD1F8;
  border-color: #DCD1F8;
  color: #755AD6;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.weather h1 {
  color:#755AD6;
  font-size: 30px;
  font-weight: 500;
  margin: 30px 0 10px 0;
  line-height: 29px;
}

.clearfix {
  display: flex;
  flex-direction: row;
}

.weather canvas {
  margin-right: 20px;
  margin-top: 5px;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  color: #755AD6;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  list-style: none;
}

.weather-extras {
  margin-top: -62px;
}

.weather .temperature {
  font-weight: bold;
  color: #755AD6;
  font-size: 64px;
  line-height: 64px;
}

.weather .unit {
  color: #755AD6;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 5px;
}